
  <div class="container">
<div class="form-group col-md-3; index as i">
    <label for="Type of Product">Type of Product</label>
  <input type="text" id="Type of Product" class="form-control" [(ngModel)]="product.Product" placeholder="Model" [disabled]=!isEditable[i]>
</div>
<div class="form-group col-md-3; index as i">
    <label for="Name of Product">Name of Product</label>
  <input type="text" id="Name of Product" class="form-control" [(ngModel)]="product.Name" placeholder="Name" [disabled]=!isEditable[i]>
</div>
<div class="form-group col-md-3; index as i">
    <label for="Price of Product">Price of Product</label>
  <input type="text" id="Price of Product" class="form-control" [(ngModel)]="product.Price" placeholder="Price" [disabled]=!isEditable[i]>
</div>
<div class="form-group col-md-3; index as i">
    <label for="Type of Product">Model of Product</label>
  <input type="text" id="Model of Product" class="form-control" [(ngModel)]="product.Model" placeholder="Product" [disabled]=!isEditable[i]>
  <button type="button" style='margin-right:16px' class="btn btn-primary" (click)="edit(product,i)">Edit</button>
    
  <button type="button" style='margin-right:16px' class="btn btn-primary" (click)="save(product)">Save</button>
  </div>
</div>
