<div class="container">
<table class="table " *ngIf="arrProducts">
  <!-- ADD HEADERS -->
  <thead class="thead-dark">
  <tr>
    
    <th>ID</th>
    <th>Type of Product</th>
    <th>Name of Product</th>
    <th>Model of Product</th>
    <th>Price of Product</th>
    <th>Edit the Product</th>
  </tr>
</thead>
<tbody>
  <!-- BIND ARRAY TO TABLE -->
  <tr *ngFor="let product of arrProducts; index as i">
    <td> 
      <input [(ngModel)]="product.ID" [disabled]=!isEditable[i]>
    </td>
    <td>
        <input [(ngModel)]="product.Product" [disabled]=!isEditable[i]>
    </td>
    <td>
      <input [(ngModel)]="product.Name" [disabled]=!isEditable[i]>
    </td>
    <td>
      <input [(ngModel)]="product.Model" [disabled]=!isEditable[i]>
    </td>
    <td>
      <input [(ngModel)]="product.Price" [disabled]=!isEditable[i]>
    </td>
    <td><button type="button" class="btn btn-primary" (click)="edit(product, i)">Edit</button></td>
    <!-- <td><button type="button" class="btn btn-primary" (click)="save(product, i)">Save</button></td> -->

  </tr>
  </tbody>
</table>
</div> 